WcfClient/Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DuckService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuckService_GetDuck_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDuck" />
  </wsdl:message>
  <wsdl:message name="IDuckService_GetDuck_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDuckResponse" />
  </wsdl:message>
  <wsdl:message name="IDuckService_Separate_InputMessage">
    <wsdl:part name="parameters" element="tns:Separate" />
  </wsdl:message>
  <wsdl:message name="IDuckService_Separate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeparateResponse" />
  </wsdl:message>
  <wsdl:portType name="IDuckService">
    <wsdl:operation name="GetDuck">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuckService/GetDuck" message="tns:IDuckService_GetDuck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuckService/GetDuckResponse" message="tns:IDuckService_GetDuck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Separate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuckService/Separate" message="tns:IDuckService_Separate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuckService/SeparateResponse" message="tns:IDuckService_Separate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDuckService" type="tns:IDuckService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDuck">
      <soap:operation soapAction="http://tempuri.org/IDuckService/GetDuck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Separate">
      <soap:operation soapAction="http://tempuri.org/IDuckService/Separate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuckService">
    <wsdl:port name="BasicHttpBinding_IDuckService" binding="tns:BasicHttpBinding_IDuckService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>