WcfClient/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetDuck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="composite" nillable="true" type="q1:Duck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDuckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetDuckResult" nillable="true" type="q2:Duck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Separate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="composite" nillable="true" type="q3:Duck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeparateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="SeparateResult" nillable="true" type="q4:Duck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>